body {
    background-color: #e61839;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.header {
    padding: 0;
}

    .header .logo {
        width: 100%;
        position: absolute;
        top: 0;
    }

.pages {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
}

    .pages img {
        position: absolute;
    }

.page-1 .girl {
    width: 80%;
    bottom: 10%;
}

.page-1 .right-gift {
    width: 67%;
    bottom: 10%;
    right: 0;
}

.page-1 .slogan {
    width: 70%;
    right: 10%;
    top: 5%;
}

.page-1 .left-gift {
    width: 15%;
    left: 0;
    top: 0;
}

.page-1 .button {
    width: 45%;
    right: 5%;
    top: 30%;
}

.page-2 .cup {
    width: 90%;
    left: 5%;
    top: 50%;
    margin-top: -60%;
}

.page-2 .socks {
    width: 90%;
    left: 5%;
    top: 50%;
    margin-top: -60%;
}

.page-3 .slogan {
    top: 5%;
    left: 10%;
    width: 80%;
}

.page-3 .gift {
    bottom: 10%;
    width: 100%;
}

.page-4 .left-gift {
    width: 15%;
    left: 0;
    top: 0;
}

.page-4 .text {
    width: 60%;
    left: 20%;
    top: 5%;
}


.page-4 .shadow-1 {
    width: 100px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: 0px;
}

.page-4 .shadow-2 {
    width: 100px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: 30px;
    margin-top: 0px;
}

.page-4 .shadow-3 {
    width: 100px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: 170px;
}

.page-4 .shadow-4 {
    width: 100px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: 30px;
    margin-top: 170px;
}

.page-4 .gift-1 {
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -120px;
}

.page-4 .gift-2 {
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: 20px;
    margin-top: -120px;
}

.page-4 .gift-3 {
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: 50px;
}

.page-4 .gift-4 {
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: 20px;
    margin-top: 50px;
}

.page-5 .bottom-gift {
    bottom: 10%;
    right: 0;
    width: 80%;
}

.page-5 .gift {
    width: 60%;
    top: 10%;
    left: 20%;
}

.page-5 .get-jifen-button {
    width: 50%;
    left: 25%;
    bottom: 32%;
}

.page-5 .form .background {
    width: 320px;
    height: 475px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -270px;
}

.page-5 .form .name {
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 160px;
    height: 25px;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: -49px;
}

.page-5 .form .phone {
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 160px;
    height: 25px;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: -5px;
}

.page-5 .form .age {
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    padding-top: 2px;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 176px;
    height: 27px;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: 39px;
}

.page-5 .form .button {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: 120px;
}

.page-5 .dropdown {
    position: absolute;
    background-image: url('../img/page_5/dropdown.png');
    background-size: 120px 150px;
    width: 120px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: 56px;
}

    .page-5 .dropdown div {
        position: absolute;
        width: 97px;
        height: 35px;
        left: 50%;
        top: 50%;
        margin-left: -49px;
        background-color: #fff;
        opacity: 0;
    }

.page-5 .dropdown-age-1 {
    margin-top: -64px;
}

.page-5 .dropdown-age-2 {
    margin-top: -34px;
}

.page-5 .dropdown-age-3 {
    margin-top: -4px;
}

.page-5 .dropdown-age-4 {
    margin-top: 26px;
}

.page-6 .bottom-gift {
    bottom: 10%;
    right: 0;
    width: 80%;
}

.page-6 .shops-button {
    width: 50%;
    left: 25%;
    bottom: 32%;
}

.page-6 .text {
    width: 100%;
    bottom: 45%;
}

.page-6 .jifen-90 {
    width: 60%;
    left: 20%;
    top: 0;
}

.page-6 .jifen-100 {
    width: 60%;
    left: 20%;
    top: 0;
}

.page-6 .jifen-200 {
    width: 60%;
    left: 20%;
    top: 0;
}

.page-6 .jifen-400 {
    width: 60%;
    left: 20%;
    top: 0;
}

.page-6 .phone-number {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    top: 32%;
    font-family: "Microsoft YaHei",Arial,SimHei;
}


.page-7 .bottom-gift {
    bottom: 10%;
    right: 0;
    width: 80%;
}

.page-7 .back-button {
    width: 50%;
    left: 25%;
    bottom: 32%;
}

.page-7 .left-gift {
    width: 15%;
    left: 0;
    top: 0;
}

.page-7 .title {
    top: 0;
    width: 40%;
    left: 30%;
}

.page-7 .text {
    width: 60%;
    top: 18%;
    left: 15%;
}
